@charset "utf-8";
body{ display:flex; background-color:#939fb6;}
.outFrame{ margin:auto; min-width:600px; max-width:1000px; width:50%; min-height:460px; max-height:700px; height:50%; box-shadow:0 0 15px rgba(0,0,0,.4); background-color:#282f5d;}
.titles{ margin:auto; background:url("/style/images/logo.png") no-repeat; background-size:contain; padding:20px; padding-left:130px; width:430px; border:20px solid transparent;}
h1{ padding-bottom:5px; font-size:30px; letter-spacing:.1em; color:#ff9d1f; font-weight:300;}
h2{ font-size:20px; color:rgba(255,255,255,.9); font-weight:400;}
h2 .ver{ color:#ce1125;}
.content{ background-color:#fff; height:calc(100% - 176px); display:flex;}
.loginForm{ margin:auto; width:100%;}
.loginForm>*{ display:block; width:30%; min-width:240px; margin:12px auto;}
.loginForm .tipMessage{ padding:0 5px; width:100%; text-align:center;}
.loginForm .rexButton{ width:100%;}
.loginForm .rexCheck{ text-align:center; margin:0 auto;}
.rexField.fa .rexInput{ padding-left:3.5em;}
.rexField.fa:hover:before{ color:#3459a0;}
.rexField.warning.fa:before{ color:#e77b24;}