@charset "utf-8";
.nowStatus{ padding:3px 5px; border-radius:6px; font-weight:normal; border:1px solid #ccc;}
.nowStatus.st0{ background-color:#999; border-color:#999;}
.nowStatus.st0:before{ content:'未开始'; color:#eee;}
.nowStatus.st1{ background-color:#fff3dc; border-color:#f90;}
.nowStatus.st1:before{ content:'待接受'; color:#f90; font-weight:600;}
.nowStatus.st2{ background-color:#dae7ff; border-color:#3362b8;}
.nowStatus.st2:before{ content:'处理中'; color:#3362b8;}
.nowStatus.st3{ background-color:#fff3dc; border-color:#f90;}
.nowStatus.st3:before{ content:'待评审'; color:#f90; font-weight:600;}
.nowStatus.st4{ background-color:#1ba50c; border-color:#1ba50c;}
.nowStatus.st4:before{ content:'已完成'; color:#fff;}
.nowStatus.st5{ background-color:#e44e4e; border-color:#c00505;}
.nowStatus.st5:before{ content:'被退回'; color:#fff; font-weight:600;}
.nowStatus.st7{ background-color:#b4b4b4; border:1px dashed #5a5a5a;}
.nowStatus.st7:before{ content:'已撤销'; color:#333;}
.timeoutStatus{ background-color:red; color:#fff; padding:3px 5px; border-radius:6px; font-weight:normal; border:1px solid red;}

#viewop .dialog-content,#taskop .dialog-content{ background-color:#eee;}
.datafill{ background-color:#fff; padding-bottom:10px; box-shadow:0 2px 5px rgba(0,0,0,.2);}
.buttonBar{ text-align:center; padding:10px;}
.buttonBar .rexButton{ width:100px; margin:0 5px;}
.buttonBar .tipMessage{ padding-top:0;}
.buttonBar .tipMessage .fa{ padding:6px 20px; background-color:#fff; border:1px solid #ccc;}
.buttonBar .tipMessage .warning{ border-color:#f90;}
.buttonBar .tipMessage .alert{ border-color:red;}
.buttonBar .tipMessage .ok{ border-color:green;}
.buttonBar .tipMessage .loading{ border-color:#697ac1;}

.lay2col.style1>*{ min-width:200px;}
.txt.fa-clock-o{ color:red;}